.hide {
    display: none;
}

.spz-2025 .pad-desktop[_ngcontent-c7] {
    padding-right: 0px;
}
.spz-2025 .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 20px;
    padding-left: 0px;
}

.spz-2025 .register-section .right-form-box {
    padding-right: 0px !important;
}

.spz-2025 .payment-box-offbill[_ngcontent-c8] .ets-box[_ngcontent-c8] .card-bg-cls[_ngcontent-c8] {
    width: 100%;
}

.spz-2025 .payment-box-offbill[_ngcontent-c8] .ets-box[_ngcontent-c8] .card-bg-cls[_ngcontent-c8] .card-title[_ngcontent-c8] { 
    width: '100%';
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 24px !important;
    line-height: 140% !important;
    color: #000000;
    padding: 0px !important;
}

.spz-2025 .cart.cart-header {
    background: #F8FAFC;
}

.spz-2025 .register-section[_ngcontent-c7],
.spz-2025 .padding-30px-0-0[_ngcontent-c7] {
    padding: 0px !important; 
}

.spz-2025 .cart-body[_ngcontent-c8] {
    padding: 25px;
}

.spz-2025 .payment-box-offbill[_ngcontent-c8] .ets-box[_ngcontent-c8] {
    padding: 0px;
}

.spz-2025 .payment-box[_ngcontent-c8] .m-font[_ngcontent-c8] {
    font-family: 'Roboto' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}

.spz-2025 .select-payment-mobile {
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spz-2025 .register-section[_ngcontent-c7] .right-form-box[_ngcontent-c7] .form-border[_ngcontent-c7] {
    border: none;
    box-shadow: none;
}

.spz-2025 .px-4 {
    padding: 0px !important;
    padding-right: 17px !important;
}

@media (max-width: 767px) {
    .spz-2025 .px-4 {
        padding: 12px !important;
        padding-right: 17px !important;
        padding-left: 17px !important;
    }
    .spz-2025 .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 0px;
        padding-left: 0px;
    }
}

.spz-2025 .general-information .form-border .row {
    width: 100%;
    margin: 0px;
}

.spz-2025 .register-section[_ngcontent-c7] .right-form-box[_ngcontent-c7] .form-header[_ngcontent-c7] {
    margin-bottom: 32px !important;
    border-radius: 0px 0px 5px 5px;
    background: #0098DB;
    width: 100%;
    height: 67px;
}
.spz-2025 .register-section[_ngcontent-c7] .right-form-box[_ngcontent-c7] .form-header[_ngcontent-c7] img,
.spz-2025 .register-section[_ngcontent-c7] .right-form-box[_ngcontent-c7] .form-header[_ngcontent-c7] span{
    display: none;
}
.spz-2025 .hide-desktop {
    display: none !important;
}

.spz-2025 .register-section[_ngcontent-c7] button[_ngcontent-c7], .register-section[_ngcontent-c7] input[_ngcontent-c7], .register-section[_ngcontent-c7] optgroup[_ngcontent-c7], .register-section[_ngcontent-c7] select[_ngcontent-c7], .register-section[_ngcontent-c7] textarea[_ngcontent-c7] {
    height: 48px;
    background: #FFFFFF;
    border: 0.5px solid #CAD7E0;
    border-radius: 5px;
}
.spz-2025 .form-control:disabled, .form-control[readonly] {
    height: 48px;
    background: #FFFFFF;
    border: 0.5px solid #CAD7E0;
    border-radius: 5px;
}
.spz-2025 .checkout-bg[_ngcontent-c9] {
    background-color: #fff !important;
    color: #CAD7E0;
}
.spz-2025 .form-group[_ngcontent-c7] .ng-select .ng-control {
    height: 48px;
    background: #FFFFFF;
    border: 0.5px solid #CAD7E0;
    border-radius: 5px;
}
.spz-2025 .ng-select.disabled .ng-control {
    background-color: #fff !important;
    color: #CAD7E0;
}
.spz-2025 .register-section[_ngcontent-c7] hr[_ngcontent-c7] {
    display: none;
}

.spz-2025 .form-inner-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 24px;
}
.spz-2025 .form-inner-header.address {
    margin-top: 32px;
}
#email div:nth-child(2)  {
    display: none;
}
.spz-2025 .register-section[_ngcontent-c7] .right-form-box[_ngcontent-c7] .form-message[_ngcontent-c7] {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

.spz-2025 .card-body-box .media-icon {
    display: flex;
    align-items: start;
    justify-content: center;
}
.spz-2025 .payment-box[_ngcontent-c8] .product-name[_ngcontent-c8] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #000;
}
.spz-2025 .payment-box[_ngcontent-c8] .product-desc[_ngcontent-c8] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #5180A3;
}
.spz-2025 .card-body-box .card-body .col-3.col-md-3.col-xl-4.row.flex-center-cls  {
    flex-direction: column-reverse;
    justify-content: space-between !important;
    align-items: end !important;
}
.spz-2025 .card-body-box .card-body .col-3.col-md-3.col-xl-4.row.flex-center-cls p  {
    display: none;
}
.spz-2025 .card-body-box .card-body .col-3.col-md-3.col-xl-4.row.flex-center-cls button  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 0;
}
.spz-2025 .card-body-box .card-body .col-12.col-md-12.col-xl-5.p-none.offbill-price-cls.PR-10 {
    display: flex;
    justify-content: end;
    align-items: self-start;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
}
.spz-2025 .tax-div[_ngcontent-c8] {
    background: #E5EEF6;
    border: 1px solid #DDE8F0;
    border-radius: 5px 5px 0px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
.spz-2025 .payment-box[_ngcontent-c8] .normal-font[_ngcontent-c8] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
}
.spz-2025 .sub-total-box {
    background: #0098DB;
    border: 1px solid #DDE8F0;
    border-radius: 5px;
}
.spz-2025 .product-total-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 110%;
    color: #FFFFFF;
}
.spz-2025 .sub-total-box .col-12.col-md-12.col-xl-5.text-right.font-16.align-subtotal.PR-5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #FFFFFF;
}
.spz-2025 .sub-total-box .col-12.col-md-12.col-xl-7.text-right.value-subtotal.PR-7 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: right;
}
.spz-2025 .cart-other-link[_ngcontent-c8] {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
}

.spz-2025 .cart-link-div {
    margin-bottom: 0px;
}
.spz-2025 .cart-link-div .PR-0.text-align-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
.spz-2025 .cart-link-div .PR-0.text-align-center .margin-0.font-size-15 {
    text-align: left;
    padding-left: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
    width: 60%;
}
.spz-2025 .cart-link-div .PR-0.text-align-center .notranslate.margin-0.font-size-13 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px !important;
    line-height: 120%;
    color: #000000;
    text-align: left;
    width: 40%;
    padding-left: 20px; 
}
.spz-2025 .cart-link-div .PR-0.text-align-center .notranslate.margin-0.font-size-13 .font-size-18 {
    font-weight: 700;
    font-size: 16px !important;
}

.spz-2025 .cart-link-div .image-thumb .other-service-img {
    width: 35px !important;
    height: 35px !important;
}
.spz-2025 .cart-link-div .col-12.mar-15-0.flex-align-center {
    padding: 0;
    margin: 0px;
}
.spz-2025 .cart-link-div .cart-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    background: #FFFFFF;
    border: 1px solid #005695;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #005695;
    text-decoration: none !important;
}
.spz-2025 .pad-btn-checkout[_ngcontent-c7] {
    width: 100%;
    justify-content: end !important;
    padding: 0px !important;
}

.spz-2025 .pad-btn-checkout[_ngcontent-c7] button {
    background: #B83436 !important;
    border-radius: 5px !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 19px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    height: 54px;
    align-items: center;
}
#checkout-btn {
    width: 100%;
}
.spz-2025 .enroll-now.skiptranslate {
    background: #B83436 !important;
    border-radius: 5px !important;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px !important;
    line-height: 19px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    height: 54px;
    align-items: center;
    width: 100% !important;
    max-width: 100% !important;
}
@media (max-width: 767px) {
    .spz-2025 .pad-btn-checkout[_ngcontent-c7] button {
        width: 100% !important;
        margin: 0 20px !important;
    }
    .spz-2025 .enroll-now.skiptranslate  {
        width: 100% !important;
        margin: 0 20px !important;
    }
    .spz-2025 .select-payment-mobile  {
        justify-content: center !important;
    }
    .spz-2025 .select-payment-mobile[_ngcontent-c8] form[_ngcontent-c8] {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .spz-2025 .cart-link-div .PR-0.text-align-center {
        flex-direction: column;
        align-items: start;
    }
    .spz-2025 .cart-link-div .PR-0.text-align-center .margin-0.font-size-15,
    .spz-2025 .cart-link-div .PR-0.text-align-center .notranslate.margin-0.font-size-13 {
        width: 100%;
        padding-left: 8px;
        padding-top: 4px;
    }
    .spz-2025 .cart-link-div .PR-0.text-align-center .notranslate.margin-0.font-size-13 br {
        display: none;
    }
    .spz-2025 .cart-link-div .cart-link {
        padding: 12px 0;
    }
    .spz-2025 .cart-link-div .col-12.mar-15-0.flex-align-center {
        align-items: start;
    }
    .spz-2025  .mobile-view[_ngcontent-c8] {
        display: none;
    }
    .spz-2025 .card-body-box .card-body .col-3.col-md-3.col-xl-4.row.flex-center-cls .col-7.desktop-only {
        display: flex !important;
    }

    .spz-2025 .card-body-box .card-body .col-12.col-md-12.col-xl-5.p-none.offbill-price-cls.PR-10 {
        flex: 1 !important;
    }

}
.spz-2025 .checkout-plans.page-wrap .row.ML-0.MR-0.MB-20 {
    margin-bottom: 10px !important;
}
.spz-2025 .noteTextEnroll p {
    display: none;
}
.spz-2025 .payment-option[_ngcontent-c8] .col-6.padd0 {
    display: none;
}
.spz-2025 .cart-details-main {
    display: none;
}

@media (max-width: 767px) {
    .spz-2025 .cart-link-div .col-xs-12.col-sm-12.col-md-2.col-lg-2.p-0.mob-hide {
        display: block;
        width: 30%;
    }

    .spz-2025 .form-header[_ngcontent-c7] {
        margin-bottom: 32px !important;
        border-radius: 0px 0px 5px 5px;
        background: #0098DB;
        width: 100%;
        height: 67px;
        color: #fff;
        position: sticky;
        top: 100px;
        z-index: 100;
    }
    .spz-2025 .form-header[_ngcontent-c7] img,
    .spz-2025 .form-header[_ngcontent-c7] span{
        display: none;
    }
    .spz-2025 .form-message[_ngcontent-c7] {
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
    }
    .spz-2025 .hide-desktop {
        display: flex !important;
    }
    .spz-2025 .hide-mobile {
        display: none !important;
    }
    
}

.spz-2025 .order-summary__button {
    display: none !important;
}
.spz-2025 .collapse {
    display: block !important;
}





/* */

.stepper-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    padding: 16px 0px;
  }
  .stepper-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
  
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  
  /* .stepper-item::before {
    position: absolute;
    content: "";
    border-bottom: 1px solid #fff;
    width: 100%;
    top: 8px;
    left: -50%;
    z-index: 2;
  } */
  
  /* .stepper-item::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #fff;
    width: 100%;
    top: 8px;
    left: 50%;
    z-index: 2;
  } */
  
  .stepper-item .step-counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #0098DB;
    margin-bottom: 6px;
    border: 1px solid #fff;
    border-radius: 50%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
  }
  
  .stepper-item.active {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
  }
  
  .stepper-item.completed .step-counter {
    background-color: #fff;
  }
  
  .stepper-item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 1px solid #fff;
    width: 100%;
    top: 8px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper-item:first-child::before {
    content: none;
  }
  .stepper-item:last-child::after {
    content: none;
  }

/* switch  */

.toggle {
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px;
  }
  
  .toggle-switch {
    display: inline-block;
    background: #D0DEF5;
    border-radius: 16px;
    width: 40px;
    height: 20px;
    position: relative;
    vertical-align: middle;
    transition: red 0.25s;
    margin: 0 10px;
  }
  .toggle-switch:before, .toggle-switch:after {
    content: "";
  }
  .toggle-switch:before {
    display: block;
    background: #005695;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: -2.5px;
    left: 0px;
    transition: left 0.25s;
  }
  .toggle:hover .toggle-switch:before {
    background: #005695;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + .toggle-switch {
    background: #D0DEF5;
  }
  .toggle-checkbox:checked + .toggle-switch:before {
    left: 18px;
  }
  
  .toggle-checkbox {
    position: absolute;
    visibility: hidden;
  }
  
  .toggle-label {
    margin-left: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    color: #005695;
  }
  .toggle-label-bold {
    font-weight: 700 !important;
  }

  @media (max-width: 767px) {
    .toggle {
        margin: 0px auto;
      } 
      body {
        padding-top: 226px;
    }
}