.hide {
    display: none;
}

.spz-2025 .zipcode-searched {
    padding: 0 15px;
}
.spz-2025 .zipcode-searched {
    padding: 0px;
}
.spz-2025 .content-section {
    margin-bottom: 10px;
}
.spz-2025 .enroll-box.enroll-now-box {
    margin-bottom: 22px;
}
@media (max-width: 1000px) { 
    .spz-2025 .terms-btn {
        display: none;
    }
}