.see-more.hide {
  display: none;
}

body.spz-2025 .product-list-area.fixed-nav-product {
  margin-top: 33px !important;
}

.spz-2025.mac .products-wrapper[class] .products-boxes[class] {
  perspective: 500000;
  -webkit-perspective: 500000;
}
.spz-2025 footer,
.spz-2025 .product-list-area.content-section {
  margin: 0 !important;
}
.spz-2025 hos-navigation-bar,
.spz-2025 hos-navigation-bar .branding,
.spz-2025 hos-navigation-bar .branding .logo,
.spz-2025 hos-navigation-bar .branding .logo img {
  z-index: 99;
}
.spz-2025 .noproducts-inner,
.spz-2025 .products-inner {
  max-width: 1255px;
  margin: 0 auto;
}

.price_desc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 3px;
}

.spz-2025 .products-title h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 52px;
  margin-bottom: 0px;
  text-align: center;
  margin-top: 0;
  color: #000;
}
.spz-2025 p.product-description {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000;
  cursor: pointer;
  /* padding: 30px 20px 20px; */
  margin: 0;
  /* min-height: 122px; */
  text-align: center;
}
.spz-2025 .products-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media (max-width: 599.98px) {
  .spz-2025 .products-boxes {
    justify-content: center;
  }
}
.spz-2025 #listingPage {
  width: 100%;
}
.spz-2025 .search-bar {
  left: 0 !important;
}
.spz-2025 #listingPage > * {
  width: 100%;
}
.spz-2025 #listingPage hos-google-places .search-bar .search-field {
  margin: 0 0 !important;
}
.spz-2025 .products-boxes .products-single-box {
  position: relative;
  margin: 0 10px;
  flex-wrap: wrap;
  width: 398px !important;
  border-radius: 12px;
  margin-bottom: 40px;
  z-index: 1;
}

.spz-2025 .products-boxes .Water_Line_and_Sewer_Line_Insurance_Policy {
  border: 2px solid #005695 !important;
}

.spz-2025
  .products-boxes
  .Water_Line_and_Sewer_Line_Insurance_Policy
  .enroll-now-spz {
  background-color: #005695 !important;
  color: white !important;
}

.spz-2025 .products-boxes .products-single-box .enroll-now-spz {
  margin: 20px 0px !important;
  padding: 17px !important;
  gap: 10px;
  width: 335px;
  height: 54px;
}

.spz-2025 .products-boxes .products-single-box:not(.has-wc) {
  /* display: none; */
}
.spz-2025 .products-boxes.justify-content-center .products-single-box {
  margin: 0 10px;
}
.spz-2025 .products-boxes .products-single-box {
  display: flex;
}
.spz-2025 .products-boxes .products-single-box .product-image {
  height: 170px;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.spz-2025 .products-boxes .products-single-box .product-icon {
  position: absolute;
  height: 90px;
  width: 90px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: auto;
  bottom: -40px;
  left: 32px;
  border-radius: 50px;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-title
  > h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  cursor: pointer;
  padding: 30px 30px 0px;
  margin: 0;
  min-height: 122px !important;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-cart-info {
  /* padding: 0 20px 24px; */
  position: relative;
  cursor: default;
}

.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-cart-info
  .price_section {
  padding: 0px 30px 0px !important;
}

.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-cart-info
  .feature_section {
  padding: 0px 30px 0px 30px !important;
  border-top: 1px solid #d0d1d1 !important;
}

@media (max-width: 767.98px) {
  .spz-2025
    .products-boxes
    .products-single-box
    .product-text
    .product-cart-info {
    padding: 21px 20px 24px;
  }
}
@media (min-width: 767.98px) and (max-width: 991px) {
  .spz-2025
    .products-boxes
    .products-single-box
    .product-text
    .product-cart-info {
    padding: 22px 20px 24px;
  }
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-cart-info
  .prod-info {
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 20px;
}
@media (min-width: 767.98px) and (max-width: 991px) {
  .spz-2025
    .products-boxes
    .products-single-box
    .product-text
    .product-cart-info
    .prod-info {
    top: -29px;
  }
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-cart-info
  .prod-info
  .info-blue {
  display: block;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-cart-info
  .prod-info
  .info-hover {
  display: none;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-cart-info
  .prod-info:hover
  .info-blue {
  display: none;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-cart-info
  .prod-info:hover
  .info-hover {
  display: block;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-cart-info
  .prod-cross {
  width: 44px;
  height: 44px;
  cursor: pointer;
  position: absolute;
  top: -30px;
  right: 20px;
}
@media (min-width: 767.98px) and (max-width: 991px) {
  .spz-2025
    .products-boxes
    .products-single-box
    .product-text
    .product-cart-info
    .prod-cross {
    top: -29px;
  }
}
.spz-2025 .products-boxes .products-single-box .product-text > p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
  margin-bottom: 12px;
}
.spz-2025 .products-boxes .products-single-box .product-text > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  color: #ec7923;
  cursor: pointer;
}
.spz-2025 .products-boxes .products-single-box .product-text.prod-card,
.spz-2025 .products-boxes .products-single-box .product-text.prod-feature {
  display: flex;
  flex-direction: column;
  transition-duration: 1000ms;
  transition-property: transform, opacity;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
}
.spz-2025 .products-boxes .products-single-box .product-text.prod-card {
  opacity: 1;
  transform: rotateY(0deg);
}
.spz-2025 .products-boxes .products-single-box .product-text.prod-feature {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: rotateY(180deg);
  pointer-events: none;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  button {
  transition: all 0.2s ease;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  button:hover {
  opacity: 0.9;
}
.spz-2025 .products-boxes .products-single-box .product-text > a {
  transition: all 0.2s ease;
}
.spz-2025 .products-boxes .products-single-box.active {
  pointer-events: none;
}
.spz-2025 .products-boxes .products-single-box.active > .prod-card {
  opacity: 0;
  transform: rotateY(180deg);
}
.spz-2025 .products-boxes .products-single-box.active > .prod-feature {
  opacity: 1;
  transform: rotateY(0deg);
  pointer-events: all;
}
.spz-2025 .products-boxes .products-single-box .product-text > a:hover {
  opacity: 0.9;
}
.spz-2025 .products-boxes .products-single-box .product-text .product-pricing {
  min-height: 26px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  color: #0d3d64;
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-pricing
  > span:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  display: flex;
  align-items: center;
  margin-left: 6px;
  text-transform: capitalize;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-pricing
  span#savetext.show-save {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 26px;
  border: 1px solid #06b3e4;
  border-radius: 8px;
  margin: 0 0 0 19px;
  text-transform: uppercase;
}
.spz-2025 .noproducts-wrapper,
.spz-2025 .products-wrapper {
  padding: 80px 0 40px;
}
.spz-2025 .noproducts-inner p {
  text-align: center;
  margin-bottom: 0;
}
.spz-2025 .see-more {
  text-align: center;
  margin-top: 24px;
  cursor: pointer;
}
.spz-2025 .see-more > span {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  line-height: 24px;
  text-decoration-line: underline;
  color: #ec7923;
}
.spz-2025 .see-more > span::before {
  content: 'See More';
  margin-right: 3px;
}
.spz-2025 .show-all + .see-more > span::before {
  content: 'See Less';
  margin-right: 3px;
}
.spz-2025 .show-all + .see-more > span svg {
  transform: rotate(180deg);
}
.spz-2025 .see-more > span > svg {
  margin-left: 3px;
}
.spz-2025 .see-more > span:hover {
  opacity: 0.8;
}
.spz-2025 .product-list-area > .page-wrap.set-pad {
  max-width: 100%;
  padding: 0 0;
}
.spz-2025 .product-list-area > .page-wrap.set-pad > .product-list-header {
  margin: 0 0;
  background-color: #f5f5f5;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .filter-products {
  display: none;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box {
  padding-top: 21px;
  padding-bottom: 23px;
  margin: 0 auto;
  text-align: center;
  padding-left: 12px !important;
  padding-right: 12px !important;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  .current-location {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  .current-location
  > i {
  font-size: 0px;
  margin-right: 13px;
  color: rgba(0, 0, 0, 0.54);
  position: relative;
  top: 1px;
  left: 1px;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  .current-location
  > i::before {
  position: absolute;
  content: '';
  background-image: url('//res.cloudinary.com/spiralyze/image/upload/f_auto/AWR/PRODUCTPAGE/location-on.png');
  background-size: contain;
  width: 20px;
  height: 20px;
  top: -15px;
  left: -10px;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  button {
  padding: 0 0;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  button.product-page-search {
  max-width: 120px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  button.product-page-search
  > span:first-child {
  display: block !important;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  button.product-page-search
  > span:not(:first-child) {
  display: none !important;
}
.spz-2025 form input.search-zipcode {
  /*max-width: 120px;*/
  height: 40px !important;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  > label:first-child {
  font-size: 16px;
  margin-bottom: 11px;
  display: block !important;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .location-box {
  margin-left: 4px;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  .zipcode-box
  > label:nth-child(2) {
  display: none !important;
}
.spz-2025
  .product-list-area
  > .page-wrap.set-pad
  > .product-list-header
  form.search {
  justify-content: center;
}
.spz-2025 .page-wrap.product-list {
  display: none;
}
.spz-2025 .error-zipcode.invalid-error[class] {
  text-align: center;
  margin: 0 auto;
  position: relative;
  left: 0;
}
@media (max-width: 766.98px) {
  .spz-2025 .error-zipcode.invalid-error[class] small.error-text[class] {
    margin-top: 0.5rem;
  }
}
.spz-2025
  .products-boxes
  .products-single-box.Exterior_Electric_Line_Protection_Program
  .product-image {
  background-position: right;
}
.spz-2025 .banner-box .content-box .banner-content-box .how-it-work-area {
  padding: 10px 0 0 !important;
}

@media (max-width: 1219.98px) {
  .spz-2025 .noproducts-inner,
  .spz-2025 .products-inner {
    max-width: 840.1px;
  }
}
@media (max-width: 1023.98px) {
  .spz-2025 .noproducts-wrapper,
  .spz-2025 .products-wrapper {
    padding: 60px 0 76px;
  }
  .spz-2025 .products-boxes {
    align-items: normal;
    transition-delay: 200ms;
    animation-delay: 200ms;
  }
  .spz-2025 .noproducts-inner,
  .spz-2025 .products-inner {
    max-width: 450px;
  }
  .spz-2025 .products-title h2 {
    margin-bottom: 40px;
  }
  .spz-2025 .products-boxes .products-single-box {
    margin: 0 10px;
    margin-bottom: 20px;
  }
  .spz-2025 .products-boxes.justify-content-center .products-single-box {
    margin: 0 11px 22px;
  }
  .spz-2025
    .products-boxes
    .products-single-box
    .product-pricing
    span#savetext.show-save {
    margin: 0 0 0 18px;
  }
  .spz-2025
    .product-list-area
    > .page-wrap.set-pad
    > .product-list-header
    .zipcode-box {
    padding-top: 24px;
  }
}
@media (max-width: 599.98px) {
  .spz-2025 .noproducts-wrapper,
  .spz-2025 .products-wrapper {
    padding: 43px 0 59px;
  }
  .spz-2025 .products-title h2 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 36px;
  }
  .spz-2025 .noproducts-inner,
  .spz-2025 .products-inner {
    padding: 0 40px;
  }
  .spz-2025 .products-boxes .products-single-box {
    margin: 0;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .spz-2025 .products-boxes .products-single-box .product-text button {
    max-width: 100%;
  }
  .spz-2025
    .product-list-area
    > .page-wrap.set-pad
    > .product-list-header
    .zipcode-box {
    padding-bottom: 22px;
  }
  .spz-2025
    .product-list-area
    > .page-wrap.set-pad
    > .product-list-header
    .zipcode-box
    > label:first-child {
    display: none !important;
    font-size: 14px;
    margin: 0 0 11px 0;
  }
  .spz-2025
    .product-list-area
    > .page-wrap.set-pad
    > .product-list-header
    .zipcode-box
    > label:nth-child(2) {
    display: block !important;
    font-size: 14px;
    margin: 0 0 11px 0;
  }
  .spz-2025
    .products-boxes
    .products-single-box
    .product-text
    .product-pricing
    > span:last-child {
    justify-content: space-between;
    width: 100%;
  }
  .spz-2025 .products-boxes .products-single-box .product-text > h1 {
    min-height: 146px;
  }
}
@media (max-width: 359.98px) {
  .spz-2025
    .products-boxes
    .products-single-box
    .product-text
    .product-pricing {
    font-size: 20px;
  }
  .spz-2025
    .products-boxes
    .products-single-box
    .product-text
    .product-pricing
    > span:last-child {
    font-size: 12px;
  }
  .spz-2025
    .products-boxes
    .products-single-box
    .product-pricing
    span#savetext.show-save {
    width: 67px;
    margin: 0 0 0 8px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .spz-2025 .banner-box .banner {
    height: 350px !important;
  }
}

/* Popup UI Design */
.modal-popup-header h1 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  .modal-popup-header h1 {
    font-size: 25px;
    line-height: 27px;
  }
}

.modal-popup-header p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #67737b;
  flex: none;
  order: 1;
  flex-grow: 0;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .modal-popup-header p {
    font-size: 14px;
  }
}

.bg-white {
  background: #fff !important;
}

.color-black {
  color: black !important;
}

.absolute-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1000;
}

/* .products div:last-child {
  border-bottom: none;
} */

.flex-product {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e7ecf4;
  width: fit-content;
  margin: 12px auto 0 auto;
  align-items: center;
  padding-bottom: 28px;
  width: 100%;
  max-width: 690px;
}

@media only screen and (max-width: 768px) {
  .flex-product {
    flex-direction: column;
  }
}

.flex-product .img {
  /* width: 115px;
  height: 100px; */
  width: auto;
  height: 92px;
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  .flex-product .img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.title-modal-populer {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin: 10px;
  width: 100%;
}

.title-modal-populer p {
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 768px) {
  .title-modal-populer p {
    margin-bottom: 16px !important;
  }
}

.label-modal-populer {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #bc2a3c;
  margin-bottom: 10px;
}

.btn-c {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef8ff;
  border-radius: 10px;
  color: #005695;
  font-size: 14px;
  line-height: 16px;
  font-weight: 600;
  padding: 18px 20px;
  position: relative;
}

.card-content {
  margin-right: 14px;
}

.card-content p {
  margin-bottom: 0px;
}

.price-modal-populer {
  font-size: 22px;
  line-height: 26px;
  margin: 2px auto;
}

.Upgrade {
  background-color: #005695;
  color: white;
  border-radius: 8px;
  padding: 16px;
  border: 0;
}

@media only screen and (max-width: 768px) {
  .btn-c {
    width: 100%;
    height: 100px;
    border-radius: 8px;
  }

  .card-content {
    flex: 1;
  }

  .Upgrade {
    flex: 1;
  }
}

.Upgrade:hover {
  opacity: 80%;
}

.save-btn {
  position: absolute;
  top: -12px;
  padding: 3px 9px;
  background: #bc2a3c;
  border-radius: 53px;
  transform: rotate(4.42deg);
  color: white;
}

.cards-content-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #005695;
  text-align: end;
  margin-top: 4px;
  border: 0;
  background: transparent;
}

.cards-content-btn:hover {
  opacity: 80%;
}

.product-list.row .container-fluid:last-child .flex-product {
  border-bottom: 0 !important;
  padding-bottom: 0 !important;
}

/* New CSS */

.spz-2025 .products-wrapper .zipcode-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.spz-2025 .products-wrapper .zipcode-box-wrapper .zipcode-box {
  background: #f5f5f5;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 12px 24px;
  gap: 8px;
}

.spz-2025 .products-wrapper .zipcode-box-wrapper .zipcode-search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spz-2025 .products-wrapper .zipcode-box-wrapper .zipcode-search-box button {
  margin-top: 0;
}

.spz-2025 .products-wrapper .zipcode-box .current-location {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.spz-2025 .products-boxes .products-single-box {
  position: relative;
  box-sizing: border-box;
  width: 352px;
  border: 1px solid #d0d1d1;
  border-radius: 12px;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 60px;
}
.spz-2025 .products-boxes .products-single-box.popular::after {
  content: 'MOST POPULAR';
  position: absolute;
  width: 100%;
  max-width: 90%;
  height: 32px;
  top: -33px;
  background: #ff8c35;
  border-radius: 8px 8px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
/* .spz-2025 .products-boxes .products-single-box.best-product::after {
  content: "BEST Value";
  position: absolute;
  width: 100%;
  max-width: 90%;
  height: 32px;
  top: -33px;
  background: #FF8C35;
  border-radius: 8px 8px 0px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
} */

.spz-2025 .products-boxes .products-single-box:not(.has-wc) {
  /* display: none; */
}
.spz-2025 .products-boxes.justify-content-center .products-single-box {
  margin: 0 10px;
}
.spz-2025 .products-boxes .products-single-box {
  display: flex;
}
.spz-2025 .products-boxes .products-single-box .product-text {
  font-family: 'Roboto';
  font-style: normal;
  color: #000000;
}
.spz-2025 .products-boxes .products-single-box .product-text .product-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-title
  > h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  min-height: 90px;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-cart-info {
  /* padding: 0px 30px 30px; */
  position: relative;
  cursor: default;
}

.spz-2025 .products-boxes .products-single-box .product-text.prod-card,
.spz-2025 .products-boxes .products-single-box .product-text.prod-feature {
  display: flex;
  flex-direction: column;
  transition-duration: 1000ms;
  transition-property: transform, opacity;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  cursor: pointer;
  width: 100%;
}
.spz-2025 .products-boxes .products-single-box .product-text.prod-card {
  opacity: 1;
  transform: rotateY(0deg);
}

.spz-2025 .products-boxes .products-single-box .product-text .product-pricing {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  display: flex;
  color: #000;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-pricing
  > span:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  display: flex;
  align-items: center;
  margin-left: 6px;
  text-transform: lowercase;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-pricing
  span#savetext.show-save {
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 26px;
  border: 1px solid #06b3e4;
  border-radius: 8px;
  margin: 0 0 0 19px;
  text-transform: uppercase;
}

.spz-2025 .products-boxes .products-single-box .product-text .product-feature {
  padding-right: 0;
  padding-bottom: 20px;
  height: 200px;
  padding-top: 20px;
  border-radius: 0 0;
  cursor: default;
}

.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-feature
  .description_question {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #005695;
  margin: 0px;
  padding-bottom: 14px;
}

@media (max-width: 991px) {
  .spz-2025
    .products-boxes
    .products-single-box
    .product-text
    .product-feature {
    height: calc(100% - 250px);
    padding-right: 0;
    padding-top: 28px;
  }
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-feature
  .product-feature-list {
  height: 100%;
  overflow: auto;
  color: #fff;
  list-style: none;
  padding-left: 0;
  padding-right: 4px;
  /* scrollbar-width: thin;
  scrollbar-color: #005695 #DAE1E4 !important; */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-feature
  .product-feature-list::-webkit-scrollbar-thumb {
  background-color: #005695 !important;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-feature
  .product-feature-list::-webkit-scrollbar-track {
  background-color: #dae1e4 !important;
}
@media (max-width: 991px) {
  .spz-2025
    .products-boxes
    .products-single-box
    .product-text
    .product-feature
    .product-feature-list {
    padding-left: 0;
  }
}

.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-feature
  .product-feature-list
  li {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 10px;
  color: #000;
}

.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-feature
  .product-feature-list
  li
  span {
  margin-right: 16px;
}

.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-feature
  .product-feature-list::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 2px;
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-feature
  .product-feature-list::-webkit-scrollbar-track {
  background: #757575;
  -webkit-box-shadow: inset 0 0 2px rgb(117, 117, 117);
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-feature
  .product-feature-list::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #78c653;
  -webkit-box-shadow: inset 0 0 2px rgb(120, 198, 93);
}
.spz-2025
  .products-boxes
  .products-single-box
  .product-text
  .product-feature
  .product-feature-list::-webkit-scrollbar-thumb:hover {
  background: #78c653;
  -webkit-box-shadow: inset 0 0 2px rgb(120, 198, 93);
}

.spz-2025 .products-boxes .products-single-box .product-text button {
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #005c8b;
  border: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid #005c8b;
  background: transparent;
  border-radius: 4px;
  transition: all 0.3s;
}
.spz-2025 .products-boxes .products-single-box .product-text button:hover {
  background: #005c8b;
  color: #fff;
}
.spz-2025 .products-boxes .products-single-box .product-text button svg {
  margin-left: 5px;
  position: relative;
  left: 4px;
}

.spz-2025 .products-boxes .products-single-box .product-text .terms {
  text-align: start;
  margin-top: 20px;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #8bb0cc;
  text-decoration: none;
  margin-bottom: 20px;
}
.spz-2025 .products-boxes .products-single-box .product-text .terms > a {
  text-decoration: underline;
  font-weight: 400;
  cursor: pointer;
  color: #8bb0cc;
  text-decoration: none;
}

.hidden {
  display: none !important;
}

.product-list-header .zipcode-box {
  display: none;
}

.showmore-container,
.showless-container {
  margin-top: 40px;
  text-align: center;
}

.showmore-container p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
  margin-bottom: 8px;
}

.showmore-container button,
.showless-container button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;
  color: #b10000;
  cursor: pointer;
  background: transparent;
  border: none;
}
