@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Noto+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

.purchase-select {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 500px;
  margin-bottom: 10px;
  cursor: pointer;
}

#purchase-hidden-select {
  position: absolute;
  left: 25px !important;
  opacity: 0;
  height: 40px;
  z-index: -1000;
}

.select-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #b2b2b2;
  color: #b2b2b2;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.selected-option {
  flex: 1;
  color: black;
  display: none;
}

.purchase-options {
  position: absolute;
  display: none;
  border: 1px solid #b2b2b2;
  border-top: none;
  border-radius: 0 0 5px 5px;
  margin-top: -1px;
  width: 99.6%;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
  z-index: 10000;
  border-top: 1px solid #b2b2b2;
}

.purchase-option {
  padding: 12px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.purchase-option:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.purchase-option:hover {
  background-color: #f5f5f5;
}

.arrow-icon {
  transition: transform 0.2s;
  max-width: 16px;
  max-height: 17px;
}

/* form style  */

.form_input_element_mb-4 {
  margin-bottom: 1.5rem !important;
}

.make_offer_modal_contact_consultant_form {
  display: flex;
  flex-wrap: wrap;
}

.make_offer_modal_contact_consultant_form fieldset {
  width: 100%;
}

.make_offer_modal_contact_consultant_form fieldset ul {
  display: flex;
  flex-wrap: wrap;
}

.make_offer_modal_contact_consultant_form fieldset ul li {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.make_offer_modal_contact_consultant_form div {
  flex: 0 1 100%;
  width: 100%;
}

.make_offer_modal_contact_consultant_form fieldset ul li label {
  margin: 0;
  padding: 0;
  flex: 0 1 100%;
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  color: #000;
}

.make_offer_modal_contact_consultant_form fieldset ul li input {
  flex: 0 1 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 10px;
  height: 40px;
  margin-bottom: 10px;
}

.make_offer_modal_contact_consultant_form fieldset ul li textarea {
  flex: 0 1 100%;
  width: 100%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  height: 100px;
}

.make_offer_modal_contact_consultant_form div button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 20px;
  gap: 10px;
  height: 40px;
  background: #111;
  border: 1px solid #111;
  border-radius: 36px;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.error {
  font-size: 12px;
  color: #b81433;
  font-weight: 600;
  margin-top: -8px;
}

@media (max-width: 900px) {
  .submit-full-width-mobile {
    width: 100%;
    margin-bottom: 20px;
  }
  .pop_form_list {
    margin-top: 20px;
  }
}
